<br>
<div class="font background container">
  <h4 class="contentHead">Education</h4>
  <div class="row">
    <div class="col-sm-6">
      <h5>AS in Computer Science, Software Development</h5>
      <h6>Columbus State Community College</h6>
      <h6> Graduated 2017 | GPA: 3.64</h6>
      <br>
    </div>
    <div class="col-sm-6">
      <h5>BA in Psychology, Minor in Business Administration</h5>
      <h6>The Ohio State University</h6>
      <h6>Graduated 2015 | GPA: 3.41</h6>
    </div>
  </div>
  <a id="education"></a>
</div>

