.container {
  margin: auto;
}

.background {
  background-color: #f1f3f3;
  width: 100%;
  margin: auto;
  display: inline-block;
  padding: 35px;
  margin-bottom: -5px;
}

.font {
  font-family: 'Cambo', sans-serif;
}

.contentHead {
   font-family: 'Fredericka the Great', sans-serif;
   font-size: 32px;
}
