<a id="about"></a>
<div class="font background container">
  <h4 class="contentHead">About Me</h4>
  <div class="row">
    <div class="col-sm-4">
      <ul>
        <li>Email: brenna.keiger@gmail.com</li>
        <li>Phone: 419-309-7139</li>
        <li>Source: <a href="http://www.bitbucket.org/bwelzbacher" target="_blank">bitbucket.org/bwelzbacher</a></li>
      </ul>
      <br>
    </div>
    <div class="col-sm-8">
      <p>
        I am currently seeking full-time employment as a web developer in Columbus, Ohio.
        I began learning HTML/CSS and JavaScript in 2015 through online resources and quickly developed a passion for programming.
        After deciding I wanted to pursue a career in software development, I started working towards an Associate's Degree in Computer Science. I graduated in
        August of 2017 and have since been working on freelance and personal projects as I continue to learn new programming
        concepts and languages.
      </p>
    </div>
  </div>
</div>
