<div class="modal-dialog">
    <div class="modal-content">
       <div class="modal-header jumbotron">
         <h2 class="modal-title">Word Matching Game</h2>
         <p>Click the rectangles below to find alike pairs. Find as many pairs as you can before the countdown hits zero.</p>
       </div>
       <div class="modal-body" *ngIf="!click==0">
         <h4 *ngIf="total>=85">Wow! You're Pantry Must Be Well Organized</h4>
         <h4 *ngIf="total>=60&&total<85">Great Job!</h4>
         <h4 *ngIf="total>=20&&total<60">Not Bad, But You Can Do Better.</h4>
         <h4 *ngIf="total>=0&&total<20">I Wouldn't Quit Your Day Job...</h4>
         <h4 *ngIf="total<0">I Would Try Again If I Were You!</h4>
         <p>Matches Score: +{{matches}}</p>
         <p>Click Penalty: {{click}}</p>
         <p>Time Bonus: +{{time}}</p>
         <h4>Final Score: {{total}}</h4>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-primary" (click)="confirm()">Start New Game</button>
       </div>
     </div>
  </div>