  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img  {
      margin: auto;
  }

  a {
    cursor: pointer;
    color: #d2e2eb;
    text-shadow: 0 0 0;
  }

.format {
  width: 100%;
  margin: 0;
  margin: auto;
  display: inline-block;
  padding: 35px;
  padding-top: 10px;
  text-align: center;
}

.header {
  background-color: #f1f3f3;
  padding: 45px !important;
}

p {
  margin: 0 !important;
  background-color: rgba(104, 117, 125, .8);
}

.websites{
  font-family: 'Fredericka the Great', sans-serif;
  background-color: #e4e7e7;
}

.games {
  font-family: 'Fredericka the Great', sans-serif;
  background-color: #cacece;
}

.design {
  font-family: 'Fredericka the Great', sans-serif;
  background-color: #909ba2;
}

.font {
  font-family: 'Cambo', sans-serif;
}

.contentHead {
   font-family: 'Fredericka the Great', sans-serif;
   font-size: 32px;
}

