<div class="font container">
  <div class="header row format">
    <div class="col-sm-12">
      <h3 class="contentHead">Personal Projects</h3>
      <p></p>
    </div>
  </div>
<br><br>
    <h4 class="websites format">Websites</h4>
    <br>
    <div id="webCarousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#webCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#webCarousel" data-slide-to="1"></li>
        <li data-target="#webCarousel" data-slide-to="2"></li>
      </ol>

      <div class="carousel-inner" role="listbox">

      <div class="item active">
        <a href="http://www.brentheredanthat.com" target="_blank">
        <img src="../assets/WeddingWebsite.png" alt="Wedding Website" width="460px">
        <div class="carousel-caption">
          <h3 class="websites">Wedding Website</h3>
          <p>Created utilizing jQuery and Bootstrap</p>
        </div></a>
      </div>

       <div class="item">
        <a (click)="showConfirm('../assets/MoonBowWebsite.png', 'Moonbow Jewelry Website', 'Currently reworking website in Angular2 and working to get hosted for client')">
        <img src="../assets/MoonBowWebsite.png" alt="Moonbow Jewelry Website" width="460px">
        <div class="carousel-caption">
          <h3 class="websites">Moonbow Jewelry Website</h3>
          <p>Currently reworking website in Angular2 and working to get hosted for client </p>
        </div></a>
      </div>

       <div class="item">
         <a (click)="showConfirm('../assets/ffdecks_fullsize.png', 'FF Decks Mobile Application', 'Currently In Development. Created utilizing Angular2 and Ionic, native mobile port of website www.FFDecks.com')">
        <img src="../assets/ffdecks_fullsize.png" alt="FF Decks" width="460px">
        <div class="carousel-caption">
          <h3 class="websites">FF Decks Mobile Application</h3>
          <p>Currently In Development <br>Created utilizing Angular2 and Ionic, native mobile port of website <a target="_blank" href="http://www.ffdecks.com">FFDecks.com</a></p>
        </div> </a>
      </div>

      </div>
          <a class="left carousel-control" href="#webCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#webCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
<br><br>
    <h4 class="games format">Games</h4>
    <br>
    <div id="gamesCarousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#gamesCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#gamesCarousel" data-slide-to="1"></li>
        <li data-target="#gamesCarousel" data-slide-to="2"></li>
        <li data-target="#gamesCarousel" data-slide-to="3"></li>
      </ol>

      <div class="carousel-inner" role="listbox">

      <div class="item active">
        <a routerLink= "/matches">
          <img src="../assets/MatchGame.png" alt="Word Match Game" width="460px">
          <div class="carousel-caption">
            <h3 class="games">Word Matching Game</h3>
            <p>Created utilizing Angular2 and Bootstrap</p>
          </div>
        </a>
      </div>

       <div class="item">
        <a routerLink= "/mine_sweeper">
        <img src="../assets/MineSweeper.png" alt="Mine Sweeper Game" width="460px">
        <div class="carousel-caption">
          <h3 class="games">Mine Sweeper Game</h3>
          <p>Created utilizing Angular2 and Bootstrap</p>
        </div>
        </a>
      </div>


      <div class="item">
          <a routerLink= "/yahtzee">
       <img src="../assets/FiveOfAKind.png" alt="Six Of A Kind Dice" width="460px">
        <div class="carousel-caption">
          <h3 class="games">Five Of A Kind Dice</h3>
          <p>Created utilizing Angular2 and Bootstrap</p>
        </div>
        </a>
      </div>

      <div class="item">
      <a href="http://bitbucket.org/bwelzbacher/four-in-a-row" target="_blank">
      <img src="../assets/Connect4.png" alt="Row In A Row" width="460px">
        <div class="carousel-caption">
          <h3 class="games">Four In A Row</h3>
          <p>Created utilizing jQuery and CSS</p>
        </div></a>
      </div>
      </div>
          <a class="left carousel-control" href="#gamesCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#gamesCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
<br><br>
    <h4 class="design format">Art & Design</h4>
    <br>
    <div id="designCarousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#designCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#designCarousel" data-slide-to="1"></li>
        <li data-target="#designCarousel" data-slide-to="2"></li>
        <li data-target="#designCarousel" data-slide-to="3"></li>
        <li data-target="#designCarousel" data-slide-to="4"></li>
      </ol>

      <div class="carousel-inner" role="listbox">

      <div class="item active">
        <a (click)="showConfirm('../assets/art1.png', 'Still Life', 'Oil Painting')">
        <img id="myImg" src="../assets/art1.png" alt="Oil Painting" width="460px">
        <div class="carousel-caption">
          <h3 class="design">Still Life</h3>
          <p>Oil Painting</p>
        </div></a>
      </div>

       <div class="item">
        <a (click)="showConfirm('../assets/art2.jpg', 'Game Character', 'Colored Pencil')">
        <img src="../assets/art2.jpg" alt="Game Character Drawing" width="460px">
        <div class="carousel-caption">
          <h3 class="design">Game Character</h3>
          <p>Colored Pencil</p>
        </div></a>
      </div>

      <div class="item">
        <a (click)="showConfirm('../assets/art3_fullsize.png', 'Guitar Pegs', 'Oil Painting')">
        <img src="../assets/art3.png" alt="Guitar Oil Painting" width="460px">
        <div class="carousel-caption">
          <h3 class="design">Guitar Pegs</h3>
          <p>Oil Painting</p>
        </div></a>
      </div>

     <div class="item">
        <a (click)="showConfirm('../assets/art4.png', 'Dog Ornaments', 'In my free time, I sell hand-painted ornaments through my Instagram account @dogs_and_doodles')">
        <img src="../assets/art4.png" alt="Dog Ornaments" width="460px">
        <div class="carousel-caption">
          <h3 class="design">Dog Ornaments</h3>
          <p>In my free time, I sell hand-painted ornaments through my Instagram account <a href="https://www.instagram.com/doodles_and_dogs" target="_blank">@doodles_and_dogs</a></p>
        </div></a>
      </div>

     <div class="item">
        <a (click)="showConfirm('../assets/art5.png', 'Dog Ornaments', 'In my free time, I sell hand-painted ornaments through my Instagram account @dogs_and_doodles')">
        <img src="../assets/art5.png" alt="Dog Ornament" width="460px">
        <div class="carousel-caption">
          <h3 class="design">Dog Ornaments</h3>
          <p>In my free time, I sell hand-painted ornaments through my Instagram account <a href="https://www.instagram.com/doodles_and_dogs" target="_blank">@doodles_and_dogs</a></p>
        </div></a>
      </div>
      </div>

          <a class="left carousel-control" href="#designCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#designCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<br><br>
