<br>
<div class="font background container">
  <h4 class= "contentHead">Experience</h4>
  <div class="row">
    <div class="col-sm-6">
      <h3>Freelance Developer</h3>
      <h4>FFDecks</h4>
      <p>Developing native mobile application for FFDecks.com utilizing Ionic, Angular2, and REST API integrations. Application will be supporting around 10,000 monthly users.</p>
      <h4>Tremolo Creative</h4>
      <p>Assisted with JavaScript related issues on clients’ sites hosted on SquareSpace and Shopify.</p>
      <br>
    </div>
    <div class="col-sm-6">
      <h3>Full-Stack Intern</h3>
      <h4>WITI</h4>
        <p>Assisted company with preparing for Women In Technology Summit Conference by building widgets for the website, including a countdown timer and a real-time Twitter API integration, creating email templates using Constant Contact, and manipulating and designing graphics and banners.<br><br>
        Proposed and helped kickoff migrating the development teams’ codebase to Git after presenting to the director of IT the benefits of version control.</p>
         <br>
    </div>
  </div>
  <a id="experience"></a>
</div>
