.font {
  font-family: 'Cambo', sans-serif;
}

.background {
  background-color: #cacece;
  width: 100%;
  margin: auto;
  display: inline-block;
  padding: 35px;
  margin-bottom: -5px;
}

.contentHead {
   font-family: 'Fredericka the Great', sans-serif;
   font-size: 32px;
}
