.modal-content {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
}
img {
    width: 90%;
    height: 90%;
    max-width: 1080px;
    display: block;
    margin: 0 auto;
} 

div {
    color: white;
}

.modal-header {
    font-family: 'Fredericka the Great', sans-serif !important;
}

.modal-footer {
    font-family: 'Cambo', sans-serif;
}

.close {
    color: white;
    font-size: 40px;
    opacity: 1;
}