<div class="modal-content">
  <div class="modal-header">
      <button type="button" class="close" (click)="close()" >&times;</button>
      <h2>{{ imageTitle }}</h2>
  </div>
  <div class="modal-body">
      <img style="height: 90% !important" src="{{ imageURL }}">
  </div>
  <div class="modal-footer">
        <p style="text-align: center">{{ imageDescription }}</p>
  </div>
  </div>