<br>
<div class="font background container">
  <h4 class="contentHead">Skills</h4>
  <div class="row">
    <div class="col-sm-4">
      <h4>Languages</h4>
      <ul>
        <li>HTML5</li>
        <li>CSS3 / BootStrap / Sass</li>
        <li>JavaScript / jQuery</li>
        <li>TypeScript / Angular2</li>
        <li>Ionic3</li>
        <li>Java / C#</li>
        <li>mySQL</li>
      </ul>
    </div>
    <div class="col-sm-4">
      <h4>Command Line Tools + Other</h4>
    <ul>
        <li>NodeJS</li>
        <li>Git</li>
        <li>Angular CLI / webpack</li>
        <li>Google Cloud Services</li>
      </ul>
    </div>
    <div class="col-sm-4">
      <h4>OS + Software</h4>
            <ul>
        <li>MacOS</li>
        <li>Windows</li>
        <li>Microsoft Office</li>
        <li>Google Office</li>
        <li>Adobe Creative Suite CS5</li>
      </ul>
    </div>
  </div>
</div>
<a id="skills"></a>
