<a routerLink= '/samples'><button id="back" class="btn btn-info btn-block">Back</button></a>
<br>
<div>
  <div class="jumbotron header">
    <h1>MineSweeper</h1>
    <p>Defuse all {{bombs}} bombs as quickly as possible</p>

     <div class="functional">

    <!--<p>Number of Bombs:<input id="numbers" type="number" type="text" name="number" placeholder="20"> / 144 spaces</p>-->
    <br>
    <button class="btn btn-primary col-xs-2" (click)="showConfirm();">New Game</button>

    <!-- <bSwitch (onChangeState)="toggleState($event)"></bSwitch> -->

      <input [value]="!isDefusing" id="find" #find type="radio" name="defuse" (change)="isDefusing = false" [checked]="!isDefusing"> Find

      <input [value]="isDefusing" type="radio" name="defuse" (change)="isDefusing = true"> Defuse


    <div class="col-xs-2 timer">Bombs Left: {{bombsLeft}}</div>
      <div class="col-xs-2 timer">Timer: {{time}}</div>
  </div>

  </div>

  <div class="container">
      <button [disabled]="tile.isDefused" type="button" class="col-xs-1 btn-sm tiles" *ngFor="let tile of board.tiles; let i = index" [ngClass]="{'text-found':tile.isFound, 'exploded': tile.isExploded, 'defuse':tile.isDefused}" (click)="handleClick(tile, i);">
        {{tile.value}}
      </button>
  </div>
</div>