.tiles {
    height: 40px;
    color: transparent;
    background-color: #262626;
    font-size: 18px;
  }
  
  .text-found {
    color: black;
    background-color: #e0ebeb;
  }
  
  .container {
    margin: 40px;
  }
  
  .btn-sm:hover{
    background-color: white;
  }
  
  .header {
  padding-left: 50px;
  padding-right: 50px;
  }
  
  .functional {
  }
  
  .exploded {
    background-color: #e06052;
    color: white;
  }
  
  .defuse {
    background-color: #fff1b3;
  }
  
  .defuse:hover {
    background-color: #ffe573;
  }
  
  .text-found:hover {
    background-color: #c1d7d7;
  }
  
  #clickSize {
    width: 100%;
    height: 100%;
  }
  
  #number {
    width: 30px;
  }
  
  
  
  
  /* The switch - the box around the slider */
  .switch {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {display:none;}
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(66px);
    -ms-transform: translateX(66px);
    transform: translateX(66px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  } 
    
.btn-info {
  background-color: #84afc8;
  border-color: #eeeeee;
}