.format {
  text-align: center;
  background-color: #d2e2eb;
  padding-top: 8px;
  font-family: 'Fredericka the Great', sans-serif;
}

.subhead {
color: white;
margin-top: -8px;
font-family: 'Give You Glory', sans-serif;

}

.head {
font-size: 45px;
}

.contentHead {
   font-family: 'Fredericka the Great', sans-serif !important;
}
