<nav class="navbar navbar-inverse navbar-expand-sm">
  <div class="container-fluid">
    <div class="navbar-header"></div>

    <ul class="nav navbar-nav">
      <li class="nav-item"><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">About</a></li>
      <li class="nav-item"><a routerLink="/samples" routerLinkActive="active">Project Samples</a></li>
      <li class="nav-item"><a routerLink="/resume" routerLinkActive="active">Resume</a></li>
    </ul>
  </div>
</nav>




