nav {
  display: inline-block;
  border-radius: 5px;
  padding-left:45px;
  padding-right: 45px;
}

.nav li {
  display: inline-block;
}

.about {
  font-family: 'Cambo', sans-serif;
}

.active {
  color: white !important;
}

@media (min-width: 768px) {
  .navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

@media (max-width: 767px) {
  .navbar-nav>li>a {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  @media (max-width: 400px) {
    .navbar {
      width: 100%;
      border-radius: 0px;
      border: 0;
    }
  }
}