.background {
    background-color: white;
    padding-bottom: 100px;
  }
  
  .header {
    background-color: #eeeeee;
    padding: 20px;
  }
  
  .timer {
    background-color: #262626;
    color: white;
    font-size: 24px;
    padding:11px;
    padding-left: 30px;
  }
  
  .restart {
    background-color: #666666;
    font-size: 24px;
    color: white;
    padding: 10px;
  }
  
  .tiles {
    padding-top: 30px;
    min-height: 90px;
    border-style: groove;
    border-color: #eeeeee;
    background-color: #262626;
    font-size: 15px;
    text-align: center;
  }
  
  .container {
    display: block;
    margin: auto;
  }
  
  .visible-hidden {
    visibility: hidden !important
  }
  
.btn-info {
  background-color: #84afc8;
  border-color: #eeeeee;
}
