<a routerLink= '/samples'><button id="back" class="btn btn-info btn-block">Back</button></a>
<br>
<div class="background">
    <div class="col-12 header" style="padding-left: 40px">
      <h1>Word Matching Game</h1>
    </div>
    
    <div class="functionality">
      <div class="col-xs-6 timer">Timer: {{time}}</div>
      <button class="col-xs-6 restart" (click)="showConfirm()">Start Over</button>
    </div>
    <br><br>
    <div class="container">
      <div [style.background-color]="isSelected(tile) ? '#c1d7d7' : '#262626'" class="col-xs-3 tiles" (click)=scoreSelected(tile) *ngFor="let tile of board.tiles">
        <div [style.color]="isSelected(tile) ? 'white' : '#c1d7d7'" [ngClass]="{'visible-hidden': !(tile.isMatched || isSelected(tile))}">{{tile.value}}</div>
      </div>
    </div>
    </div>
