.resume {
  width: 80%;
  display: block;
  margin: auto;
  border: 3px solid #4d4d4d;
  max-width: 830px !important;
}

.download {
  display: block;
  margin: auto;
  width: 80%;
  background-color: #99b5c0 ;
  color: white;
  max-width: 830px;
}

a:hover {
    text-decoration: none;
    color: #101010;
}

a:visited {
    color: #101010;
}

a {
  color: #101010;
}
