<div>
    <a href="../assets/BrennaKeigerResume.pdf" download="BrennaKeigerResume"> <button class="download">Download Resume as a PDF</button></a>
  <br>
  <img class="resume" src="../assets/BrennaKeigerResume.png" alt="Resume">
</div>
<br><br>
