.rowOfDice {
    display: block;
    margin: auto;
    text-align: center;
  }
  
  #dice {
    display: inline-block;
    margin: 10px;
  }
  
  #die {
  border: 3px solid black;
  text-align: center;
  font-size: 50px;
  min-width: 70px;
  }
  
  #holdButton {
    width: 70px;
    background-color: #84afc8;
    color: white;
  }
  
  #scoreCard {
    font-size: 25px;
    text-align: right;
    border: 3px solid #c0e6f2;
  }
  
  .score {
    width: 30px;
    height: 30px;
    font-size: 15px;
  }
  
  .held {
    background-color: #333333;
    color: white;
  }
  
  .container {
    padding: 0 !important;
  }

    
.btn-info {
  background-color: #84afc8;
  border-color: #eeeeee;
}

#roll {
  background-color: #d2e2eb;
}
  