<a routerLink= '/samples'><button id="back" class="btn btn-info btn-block">Back</button></a>
<br>
<div class="container">
  <div class="jumbotron">
    <h1 style="text-align: center">Five Of A Kind</h1>
    <p>Get as many points as possible by rolling the combinations listed below. You may roll the dice from 1 to 3 times per turn and hold any number of dice between rolls. Click the score you would like to lockin and repeat until the scorecard is complete.</p>
  </div> 
</div>
<div class="rowOfDice">
  <div id="dice" *ngFor="let dice of board.dice">
    <div id="die" [ngClass]="{'held': dice.isHeld}">{{dice.value}}</div>
    <button [disabled]="!canHold" id="holdButton" (click)="holdDice(dice)">Hold</button>
  </div>
</div>
<button class="btn btn-info btn-block" id="roll" (click)="rollDice()">Roll Dice</button>
<br>

<div id="scoreCard">
<h2 style="text-align:center">ScoreCard</h2>
<div class="row">
  <div class="col-xs-4 offset-xs-2">
  <div>Ones:
    <button *ngIf="!this.board.ones.isLockedIn" (click)="calculatePoints(board.ones, countNumbers(1)); resetNewRound();" class="score">{{countNumbers(1)}}</button>
    <span *ngIf="this.board.ones.isLockedIn" class="score">{{board.ones.finalPoints}}</span>
  </div>
  <div>Twos:
    <button *ngIf="!this.board.twos.isLockedIn" (click)="calculatePoints(board.twos, countNumbers(2)); resetNewRound();" class="score">{{countNumbers(2)}}</button>
    <span *ngIf="this.board.twos.isLockedIn" class="score">{{board.twos.finalPoints}}</span>
  </div>
  <div>Threes:
    <button *ngIf="!this.board.threes.isLockedIn" (click)="calculatePoints(board.threes, countNumbers(3));  resetNewRound();" class="score">{{countNumbers(3)}}</button>
    <span *ngIf="this.board.threes.isLockedIn" class="score">{{board.threes.finalPoints}}</span>
  </div>
  <div>Fours:
    <button *ngIf="!this.board.fours.isLockedIn" (click)="calculatePoints(board.fours, countNumbers(4));  resetNewRound();" class="score">{{countNumbers(4)}}</button>
    <span *ngIf="this.board.fours.isLockedIn" class="score">{{board.fours.finalPoints}}</span>
  </div>
  <div>Fives:
    <button *ngIf="!this.board.fives.isLockedIn" (click)="calculatePoints(board.fives, countNumbers(5));  resetNewRound();" class="score">{{countNumbers(5)}}</button>
    <span *ngIf="this.board.fives.isLockedIn" class="score">{{board.fives.finalPoints}}</span>
  </div>
  <div>Sixes:
    <button *ngIf="!this.board.sixes.isLockedIn" (click)="calculatePoints(board.sixes, countNumbers(6));  resetNewRound();" class="score">{{countNumbers(6)}}</button>
    <span *ngIf="this.board.sixes.isLockedIn" class="score">{{board.sixes.finalPoints}}</span>
  </div>
    <div style="font-size: 15px; padding-right:35px; margin-bottom: 15px;">Bonus:
    <span style="margin-bottom: 15px;" *ngIf="bonusAchieved">{{bonus}}</span>
    <span style="font-size: 10px; margin-bottom: 15px;" *ngIf="!bonusAchieved">{{pointsNeeded}} Points Til Bonus</span>
  </div>
  </div>
  <div class="col-sm-4 offset-sm-2">
  <div>3 Of A Kind:
    <button *ngIf="!this.board.three_kind.isLockedIn" (click)="calculatePoints(board.three_kind, threeKind());  resetNewRound();" class="score">{{threeKind()}}</button>
    <span *ngIf="this.board.three_kind.isLockedIn" class="score">{{board.three_kind.finalPoints}}</span>
  </div>
  <div>4 Of A Kind:
    <button *ngIf="!this.board.four_kind.isLockedIn" (click)="calculatePoints(board.four_kind, fourKind());  resetNewRound();" class="score">{{fourKind()}}</button>
    <span *ngIf="this.board.four_kind.isLockedIn" class="score">{{board.four_kind.finalPoints}}</span>
  </div>
  <div>Full House:
    <button *ngIf="!this.board.full_house.isLockedIn" (click)="calculatePoints(board.full_house, fullHouse());  resetNewRound();" class="score">{{fullHouse()}}</button>
    <span *ngIf="this.board.full_house.isLockedIn" class="score">{{this.board.full_house.finalPoints}}</span>
  </div>
  <div>Small Straight:
    <button *ngIf="!this.board.sm_straight.isLockedIn" (click)="calculatePoints(board.sm_straight, smStraight());  resetNewRound();" class="score">{{smStraight()}}</button>
    <span *ngIf="this.board.sm_straight.isLockedIn" class="score">{{board.sm_straight.finalPoints}}</span>
  </div>
  <div>Large Straight:
    <button *ngIf="!this.board.lg_straight.isLockedIn" (click)="calculatePoints(board.lg_straight, lgStraight());  resetNewRound();" class="score">{{lgStraight()}}</button>
    <span *ngIf="this.board.lg_straight.isLockedIn" class="score">{{board.lg_straight.finalPoints}}</span>
  </div>
  <div>Chance:
    <button *ngIf="!this.board.chance.isLockedIn" (click)="calculatePoints(board.chance, chance());  resetNewRound();" class="score">{{chance()}}</button>
    <span *ngIf="this.board.chance.isLockedIn" class="score">{{board.chance.finalPoints}}</span>
  </div>
  <div>Five Of A Kind:
    <button *ngIf="!this.board.five_kind.isLockedIn" (click)="calculatePoints(board.five_kind, yahtzee());  resetNewRound();" class="score">{{yahtzee()}}</button>
    <span *ngIf="this.board.five_kind.isLockedIn" class="score">{{board.five_kind.finalPoints}}</span>
  </div>

  <div style="font-size: 15px; padding-right:35px; margin-bottom: 15px;">Total Score:
    <span>{{totalScore}}</span>
  </div>
  </div>
  </div>
</div>