<div class="modal-dialog">
  <div class="modal-content">
     <div class="modal-header jumbotron">
       <h1 class="modal-title">MineSweeper</h1>
     </div>
     <div class="modal-body">
       <h4 *ngIf="option==0">Click the below squares to seek out the 20 bombs. The numbered squares indicate how many bombs are touching its perimeter. Once you know where a bomb is, you can defuse it by click the 'Defuse' button and then clicking your hunch. But be careful! You only have 20 defuses to use, if you use it on a square that does not contain a bomb, you lose!</h4>
       <h2 *ngIf="option==1 || option==2">You Lose!</h2>
       <h2 *ngIf="option==3">You Won!</h2>
       <h4 *ngIf="option==1">You detonated a bomb!</h4>
       <h4 *ngIf="option==2">You wasted time defusing a space with no bomb!</h4>
       <h4 *ngIf="option==3">You defused all {{bombsFound}} bombs! Good Job!</h4>
       <p *ngIf="option==1 || option==2">Bombs Found: {{bombsFound}}</p>
       <p *ngIf="option!=0"> Time: {{time}}</p>
     </div>
     <div class="modal-footer">
       <button type="button" class="btn btn-primary" (click)="confirm();">Start New Game</button>
     </div>
   </div>
</div>
